@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;1,100&family=Inter:wght@100&family=Josefin+Sans&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white
    ;
}       

ul {
    list-style: none;
}


/* NavBar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Bitter', serif;
}

#logo {
    width: 100px;
    margin: 15px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links  li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(./img-index/header-Dainty.JPG);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: #fadae5;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 700;
}

.header-content h2 {
    font-size: 4vmin;
    margin-bottom: 20px;
}

.line {
    width: 200px;
    height: 4px;
    background-color: #9e4244;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size:  9vmin;
    margin-top: 60px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background-color: #9e4244;
    border-radius: 30px;
    color: whitesmoke;
}
.ctnn {
    padding: 8px 15px;
    background-color: #194938;
    border-radius: 30px;
    color: whitesmoke;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}

/* Work */
section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size:  4vmin;
    color: #194938;
    font-family: 'Yeseva One', cursive;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work .row {
    margin-top: 50px;
}
h4 {
    font-size: 3vmin;
    font-family: 'Yeseva One', cursive;
    color: #194938;  
    margin: 20px auto;
}
p{
    color: #7c7c7c;
    padding: 0px 40px;
    font-family: 'Josefin Sans', sans-serif;
}
.work .ctn {
    margin-top: 20px;
}

/* EVENTS */
.events {
    width: 100%;
    height: 100vh;
    background-image: url('./img-index/img-index-events\ \(1\).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.text-events {
    background-color: rgba(202, 5, 55, 0.603);
}
.events-content {
    width: 45%;
    padding: 50px;
    color: #194938;
    font-family: 'Yeseva One', cursive; 
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.events-content h1 {
font-size: 8vmin;
}
.events-content .line2 {
    margin-bottom: 50px;
}

.events-content p {
    color: rgb(14, 1, 14);
    font-size: 20px;
    text-align: justify;
    background-color: #ffffff07;
    padding-top: 10px;
    padding-bottom: 10px;
}
.events-content .ctn {
    margin-top: 40px;
}

footer {
    text-align: end;
}



/* Laptop */
@media only screen and (max-width: 992px) {
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    #logo {
        position: absolute;
        top: 30px;
        left: 30px; 
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgba(188, 143, 143, 0.719);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin: 25px auto;
    }
}

/* Tablet */
@media only screen and (max-width: 768px) {
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    #logo {
        position: absolute;
        top: 30px;
        left: 30px; 
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgba(188, 143, 143, 0.719);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin: 25px auto;
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    #logo {
        position: absolute;
        top: 30px;
        left: 30px; 
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgba(188, 143, 143, 0.719);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin: 25px auto;
    }
}
